#PDF-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #D5DDE8;
  background-color: #4B4B59;
  height: 100%;
  width: 100%;
}

#PDF-viewer label {
  height: 20vmin;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#PDF-input {
  display: none;
}

#PDF-viewer img {
  height: 20vmin;
}