@import "../utilities/Styles.css";

#settings-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c_shadow);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-popup {
  background-color: var(--c_accent2);
  color: var(--c_headtext);
  padding: var(--large_dim);
  border-radius: var(--medium_dim);
  box-shadow: 0 0 var(--large_dim) var(--c_shadow);
  position: relative;
  width: var(--settings_width);
}

#theme-preset {
  display: flex;
  flex-direction: row;
}

#color-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#site-color-label,
#site-color-picker,
#font-color-label,
#font-color-picker {
  display: flex;
  flex-direction: column;
}

#settings-popup h2 {
  text-align: center;
  margin-bottom: var(--medium_dim);
}

#settings-popup label {
  display: block;
  margin-bottom: var(--medium_dim);
}

#settings-popup select,
#settings-popup input[type="color"] {
  margin-bottom: var(--medium_dim);
}

#settings-popup .color-input {
  display: flex;
  align-items: center; /* Center align color input and its label */
}

#settings-popup .color-input label {
  margin-right: var(--medium_dim);
}

#settings-popup .color-input input[type="color"] {
  flex: 1; /* Take remaining space */
}

#close-button {
  position: absolute;
  top: var(--medium_dim);
  right: var(--medium_dim);
  background: none;
  border: none;
  color: var(--c_headtext);
  cursor: pointer;
  font-size: var(--h2_font);
}

#close-button:hover {
  filter: brightness(var(--b_brightness)) saturate(var(--b_saturation));
}
