@import "../utilities/Styles.css";

#Sidebar {
  height: 100%;
}

#Open-sidebar {
  display: flex;
  flex-direction: column;
  width: var(--open_sidebar_width);
  height: 100%;
  background-color: var(--c_white);
}

#Open-sidebar-top {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c_pale);
  padding: 0 var(--medium_dim);
  height: var(--closed_sidebar_width);
  border-bottom: var(--small_dim) solid var(--c_blue);
}

#Open-sidebar-top button {
  padding: 0;
  margin: 0;
  width: var(--small_button);
  height: var(--small_button);
  border: none;
  background-color: var(--c_pale);
}

#Open-sidebar img {
  width: var(--small_button);
  height: var(--small_button);
}

#Closed-sidebar {
  display: flex;
  flex-direction: column;
  width: var(--closed_sidebar_width);
  height: 100%;
  background-color: var(--c_white);
  overflow: hidden;
}

#Closed-sidebar button {
  width: var(--small_button);
  height: var(--small_button);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: var(--c_white);
}

#Closed-sidebar-top button {
  background-color: var(--c_pale);
}

#Closed-sidebar-top {
  display: flex;
  align-items: flex-start;
  border-bottom: var(--small_dim) solid var(--c_blue);
}

#Closed-sidebar img {
  width: var(--small_button);
  height: var(--small_button);
}

#Sidebar button:hover,
#Sidebar label:hover {
  filter: brightness(var(--b_brightness)) saturate(var(--b_saturation));
}

#Open-sidebar,
#Closed-sidebar {
  transition: width 0.3s ease, background-color 0.3s ease;
}

#Sidebar button,
#Sidebar label {
  transition: background-color 0.3s ease;
}