@import "../utilities/Styles.css";

#Topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--closed_sidebar_width);
  background-color: var(--c_black);
  border-bottom: var(--small_dim) solid var(--c_blue);
}

#Title {
  font-size: var(--h1_font);
  margin-left: var(--medium_dim);
}

#Site-name {
  color: var(--c_white);
}

#Version {
  color: var(--c_pale);
}

#User-name {
  padding: var(--medium_dim) var(--large_dim);
  margin: var(--medium_dim);
  color: var(--c_white);
}

#Login {
  padding: var(--medium_dim) var(--large_dim);
  margin: var(--medium_dim);
  border: none;
  background-color: var(--c_blue);
  color: var(--c_white);
  border-radius: var(--small_dim);
  transition: background-color 0.3s ease;
}

#Login:hover {
  filter: brightness(var(--b_brightness)) saturate(var(--b_saturation));
}